
.footer {

  background-color: #000000;
  text-align: center;

  & * {
    margin: 0 auto;
  }

  &__title {
    color: #FEFEFE;
    padding: 4rem 0 0 0;

  }

  &__text {
    color: #B9B9B9;
    font-size: $fsMid;
    line-height: 2rem;
    padding: 1rem 0 0 0;
    max-width: 90%;
  }

  &__contacts {
    color: #B9B9B9;
    line-height: 2.4rem;
    padding: 3.5rem 0 5rem 0;
    max-width: 20rem;
  }

  @media (min-width: $widthTab) {
    & * {
      max-width: 70rem;
    }

    &__text {
      font-size: $fsLarge;
      line-height: 2.8rem;
    }

    &__contacts {
      font-size: $fsLarge;
      line-height: 2.6rem;
    }

  }

}

.social-icons {

  display: flex;
  width: max-content;
  margin: 0 auto;
  padding: 2.5rem 0 0 0;

  &__item {
    display: block;
    margin: 0 0 0 0.5rem;
  }
}