
.post {

  display: flex;
  flex-direction: column;

  &__image {
    width: max-content;
    object-fit: contain;
    padding: 2.5rem 0 0 0;
    align-self: start;

  }

  &__text {
    padding: 2.5rem 0 0 0;
  }

  &__text h3 {
    font-size: $fsBig;
    text-transform: capitalize;
  }

  &__text span {
    display: block;
    font-size: $fsSmall;
    color: #7C7C7C;
    padding: 1rem 0 0 0;
  }

  &__text p {
    display: none;
  }

  @media (min-width: $widthMob) {
    flex-direction: row;

    &__text {
      padding: 2.5rem 0 0 1.5rem;
    }

  }
  
  @media (min-width: $widthTab) {

    &__image {
      max-width: 30%;
    }

    &__text {
      flex-grow: 1;
    }

    &__text p {
      display: block;
      line-height: 2.6rem;
      padding: 1rem 0 0 0;
    }
  }


}