
header {
  display: flex;
  justify-content: flex-end;

  &.container {
    padding: 0;
  }

  @media (min-width: $widthTab) {
    justify-content: space-between;

  }

}

.top-nav {
  position: relative;
  background-color: #000000;
  margin: 2.3rem 0;


  & i {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 4rem;
    display: none;
  }

  & i.active {
    display: block;
    box-sizing: border-box;
    width: 4rem;
    height: 4rem;
    text-align: center;
  }

  &__list {
    display: none;
  }

  &__list.active {
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    width: 200px;
    background-color: #F5F5F5;
    margin: 0;
  }

  &__item {
    display: none;
    text-transform: uppercase;
    width: max-content;
  }

  &__item.active {
    display: block;
    font-size: $fsSmall;
    margin: 1.2rem 1.2rem 2.4rem 1.2rem;
  }

  &__item:hover {
    color: #57A4A4;
    /*background-color: #E5E5E5;*/
  }
  
  @media (min-width: $widthTab) {
    width: 90%;
    background-color: #ffffff;
    margin: 2.3rem auto;

    &__list {
      display: flex;
      width: 90%;
      text-align: center;
    }

    & i, & i.active {
      display: none;
    }

    &__item {
      display: block;
      width: 100%;
    }

  }
}