
.gallery {

  margin-top: 4rem;
  padding: 4rem 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  h4 {
    display: none;
    font-size: $fsMid;
    text-transform: uppercase;

  }

  &__wrapper {
    display: flex;
    padding-top: 1.3rem;
    justify-content: space-between;

  }

  &__img {
    display: none;
    width: 100%;
    /*max-width: 30rem;*/
  }

  &__img:nth-child(1) {
    display: block;
  }

  @media (min-width: $widthMob) {

    background-color: rgba(0, 0, 0, 0.03);

    &__img {
      width: 49%;
    }

    &__img:nth-child(2) {
      display: block;
    }

  }

  @media (min-width: $widthTab) {

    & h4 {
      display: block;
    }

    &__img {
      width: 32%;
    }

    &__img:nth-child(3) {
      display: block;
    }

  }

  @media (min-width: $widthDesk) {

    &__img {
      width: 24%;
    }

    &__img:nth-child(4) {
      display: block;

    }

  }

}