@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  user-select: none;

  h2 {
    font-size: $fsBig;
    color: $headersColor;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    font-size: $fsBig;
  }

  @media (min-width: $widthTab) {
    & h2 {
      font-size: $fsLarge;

    }
  }

}

.banner {
  background: url("/dist/img/bg.png") no-repeat center / cover;
  width: 100%;

}

.container {
  box-sizing: border-box;
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;

}
