body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    outline: none;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
